<div class="container ">
  <h2 style="background-color: rgba(236, 105, 17, 0.658);">Contact Details</h2>
  <hr>
  
  <div>
      <div>
          <label for=""><b>First Name : </b></label>{{contact.firstName}}
      </div>
      <div>
        <label for=""><b>Last Name : </b></label>{{contact.lastName}}
    </div>
    <div>
        <label for=""><b>Email : </b></label>{{contact.email}}
    </div>
    <div>
        <label for=""><b>Mobile No : </b></label>{{contact.mobile}}
    </div>

    
  </div>

  <br>
  <br>
  <button class="btn btn-lg btn-primary" (click)="contactList()">Bact to Contacts Page</button>
  <br>
</div>



